@model List<FormationViewModel>


<style>
    .row .container {
        max-width: 100% !important;
        display: inline !important;
        margin-left: -14px !important;
        margin-top: 14px !important;
    }

    #myInput {
        background-image: url('/images/logos/search.png'); /* Add a search icon to input */
        background-position: 10px 15px ; /* Position the search icon */
        background-size: 20px 20px;
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 30%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin: 12px; /* Add some space below the input */
       
        align-content:end;
    }


        #myTable  {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        margin: 12px;
        
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }

</style>
<body>
<h1 class="text-left">Formations</h1>
<hr class="sidebar-divider my-1" />


<br />

<br/>

    <div class="card" >

        <div class="container-flex   justify-content-start" >
            <nav class="nav nav-tabs ">
                    <button type="button" class="nav-link" onclick="redirectToAnotherPage()">Formations</button>
                    <button type="button" class="nav-link  active" data-bs-toggle="tab" data-bs-target="#tab-Affectation">Affectations</button>
</nav>
</div>
<div class="tab-content">
    <div class="tab-pane active show fade" id="tab-Affectation">
                <br />
                <h2 style="margin:12px">Liste des Formations</h2>
                    <br />
                  
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="rechercher une Formation.." >
                    </div>
                        <table id="myTable" class="table table-bordered" style="width:90%">
                        <thead>
                            <tr>
                                <th>Formation</th>
                                <th>Nom de Formateur</th>
                                <th>Nom Collaborateur</th>
                                <th>Prénom Collaborateur</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var formation in Model)
                            {
                                <tr>
                                    <td>@formation.NomFormation</td>
                                    <td>@formation.NomFormateur</td>
                                    <td>
                                        @foreach (var collaboratorName in formation.NomCollaborateurs)
                                        {
                                            @collaboratorName <br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var collaboratorPrenom in formation.PrenomCollaborateurs)
                                        {
                                            @collaboratorPrenom

                                            <br />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
</div>
</div>
<script>
    function redirectToAnotherPage() {
        var url = '@Url.Action("index", "Formations")';
        window.location.href = url;
    }
     function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
</script>
</body>

