@model Gestion_des_Collaborateurs.Models.Certification

@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nouveau Collaborateur</title>
    <link href="~/template/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h1 style="color:#485785">Supprimer</h1>

    <h6 style="color:red;">Est ce que vous êtes sûre que vous voulez supprimer cet enregistrement?</h6>

    <div>
        <h4>Certification</h4>
        <hr />
        <dl class="row">
        <dt class = "col-sm-2">
        Nom de la certification
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.NomCertification)
        </dd>
        <dt class = "col-sm-2">
        Durée
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Durée)
        </dd>
        <dt class = "col-sm-2">
        Coût
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Coût)
        </dd>
        </dl>
        
       

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCertification" />
            <input style="margin-right:10px;" type="submit" value="Supprimer" class="btn btn-danger" />
            <a class="style-back-liste" asp-controller="Certifications" asp-action="Index">
                <span class="material-icons-outlined">
                    arrow_back_ios_new
                </span>Revenir à la liste
            </a>
        </form>
    </div>
</body>
</html>
